<div class="container">
    <form [formGroup]="notificationRequestForm">
      <mat-form-field>
        <mat-label>Message</mat-label>
        <input id="message" matInput formControlName="message">
        <mat-error *ngIf="getMessage?.errors?.['required']">
          message is required
        </mat-error>
        <mat-error *ngIf="getMessage?.errors?.['maxlength']">
          message cannot be longer then 100 characters
        </mat-error>
      </mat-form-field>

      <section class="example-section">
        <mat-checkbox class="example-margin" (click)="toUser = true; toDepartment = false"
                      [checked]="toUser" >send to user</mat-checkbox>
      </section>

      <section class="example-section">
        <mat-checkbox class="example-margin"  (click)="toUser = false; toDepartment = true"
                      [checked]="toDepartment" >send to department</mat-checkbox>
      </section>

      <section class="example-section">
        <mat-checkbox class="example-margin"  (click)="toUser = false; toDepartment = false; toAll = true;"
                      [checked]="toAll" >send to all employees</mat-checkbox>
      </section>

      <mat-form-field *ngIf="toDepartment">
        <mat-form-field>
          <mat-label>Department</mat-label>
          <mat-select formControlName="department">
            <mat-option *ngFor="let department of departments" [value]="department">{{department}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-form-field>

      <mat-form-field *ngIf="toUser">
        <mat-form-field>
          <mat-label>User id</mat-label>
          <input id="userId" matInput formControlName="userId">
        </mat-form-field>
      </mat-form-field>

      <button class="cancel-button" (click)="createAndSendNotification()" mat-button>Send</button>
      <button class="save-button" (click)="closeDialog()" mat-button [disabled]="">Cancel</button>

    </form>
</div>
