<h2>Send notification</h2>

<div class="container" fxLayout="column" fxLayoutAlign="space-around center" >
    <form [formGroup]="notificationRequestForm">
      <div>
      <mat-form-field>
        <mat-label>Message</mat-label>
        <textarea id="message" matInput formControlName="message"></textarea>
        <mat-error *ngIf="getMessage?.errors?.['required']">
          message is required
        </mat-error>
        <mat-error *ngIf="getMessage?.errors?.['maxlength']">
          message cannot be longer then 100 characters
        </mat-error>
      </mat-form-field>
      </div>

      <div>
      <mat-form-field Role="fill">
        <mat-label>Send To</mat-label>
        <mat-select formControlName="sendTo" (selectionChange)="changeValidators()">
          <mat-option *ngFor="let sendTo of sendToList" [value]="sendTo">{{sendTo}}</mat-option>
        </mat-select>
        <mat-error *ngIf="getSendTo?.errors?.['required']">
          send to is required
        </mat-error>
      </mat-form-field>



      <mat-form-field *ngIf="getSendTo?.value == 'DEPARTMENT'">
        <mat-form-field>
          <mat-label>Department</mat-label>
          <mat-select formControlName="department">
            <mat-option *ngFor="let department of departments" [value]="department">{{department}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-form-field>

      <mat-form-field  *ngIf="getSendTo?.value == 'USER'">
        <mat-form-field>
          <mat-label>User id</mat-label>
          <input id="userId" matInput formControlName="userId" type="number">
          <mat-error *ngIf="getUserId?.errors?.['required']">
          </mat-error>
        </mat-form-field>
      </mat-form-field>
      </div>

      <div>
        <button class="save-button" (click)="closeDialog()" mat-button [disabled]="">Cancel</button>
        <button class="cancel-button" (click)="createAndSendNotification()" [disabled]="!notificationRequestForm.valid" mat-button>Send</button>
      </div>


    </form>
</div>
