<div class="container">
  <form [formGroup]="selectFloorForm">
  <mat-label class="selection-title">Building</mat-label>
  <mat-select class="select-drop-down" formControlName="building" [(value)]="currentBuilding" (selectionChange)="changeCurrentBuilding()">>
    <mat-option *ngFor="let building of buildings!" [value]="building">{{building.buildingName}}</mat-option>
  </mat-select>

  <mat-label class="selection-title">Floor</mat-label>
  <mat-select class="select-drop-down" formControlName="floor" [(value)]="currentFloor" (selectionChange)="changeCurrentFloor()">
    <div *ngIf="!isAddNewUserForm">
      <mat-option *ngFor="let floorOption of currentFloors!" [value]="floorOption"
                  [disabled]="validateFloor(floorOption)">{{floorOption.floorName}}</mat-option>
    </div>

    <div *ngIf="isAddNewUserForm">
      <mat-option *ngFor="let floorOption of currentFloors!" [value]="floorOption" [disabled]="department! !== floorOption.department">{{floorOption.floorName}}</mat-option>
    </div>
  </mat-select>

    <button (click)="closeForm()" mat-button>Cancel</button>
  <button (click)="changeFloor()" [disabled]="!selectFloorForm.valid" mat-button>Select</button>


</form>

</div>
