
<div fxLayout="row" >
  <app-calendar [date]="reservationDate"
                (onDateChange)="handleReservationChange($event!)"></app-calendar>

  <div fxLayout="column" fxLayoutAlign="center center">

    <div fxFlex  fxLayoutAlign="center center">
      <p>reservations for {{ reservationDate }}</p>
    </div>

    <div fxLayout="row">
      <div *ngIf="displayReservationMessage; then message else reservationsDisplay2">
      </div>

      <ng-template #message>
        <app-error-reservation (cancelButtonClick)="cancelReservation($event)"
                               (keepReservationButtonClick)="displayReservationMessage=false"
                               [currentReservation]="currentReservation"></app-error-reservation>
      </ng-template>

      <ng-template #reservationsDisplay2>
        <div *ngFor="let room of desksReservationsByDate;">
          <h2>{{room.roomName}}</h2>
          <div *ngFor="let desk of room.desks">
            <mat-checkbox [disabled]="!desk.available" (mouseover)="displayReservationInfo=false; hoverId = desk.id" (mouseout)="displayReservationInfo=true;"
                          [checked]="desk.id == currentReservation?.deskId || desk.id == selected"
                          (change)="validateClick(desk.id)"
            >{{desk!.deskNumber}}</mat-checkbox>
            <div *ngIf="displayReservationInfo && desk.id == hoverId">
              {{desk?.info?.userFirstName}}
            </div>
          </div>
        </div>
        <button [disabled]="selected == undefined" (click)="placeReservation()">book</button>
      </ng-template>



    </div>

  </div>

</div>






