
<div fxLayout="row" >
  <app-calendar [date]="reservationDate"
                (onDateChange)="handleReservationChange($event!)"></app-calendar>

  <div fxLayout="column" fxLayoutAlign="center center">

    <div fxFlex  fxLayoutAlign="center center">
      <button (click)="minusOneDay()"><</button><p>reservations for {{ reservationDate }}</p><button (click)="plusOneDay()">></button>
    </div>

    <div fxLayout="row">
        <div *ngFor="let room of desksReservationsByDate;">
          <h2>{{room.roomName}}</h2>
          <div *ngFor="let desk of room.desks">
            <mat-checkbox [disabled]="!desk.available" (mouseover)="displayReservationInfo=false; hoverId = desk.id" (mouseout)="displayReservationInfo=true;"
                          [checked]="desk.id == currentReservation?.deskId || desk.id == selected"
                          (click)="validateClick(desk.id)"
            >{{desk!.deskNumber}}</mat-checkbox>
            <div *ngIf="displayReservationInfo && desk.id == hoverId">
              {{desk?.info?.userFirstName}}
            </div>
          </div>
        </div>
        <button [disabled]="selected == undefined" (click)="placeReservation()">book</button>
    </div>

  </div>

</div>






