<div fxLayout="row">
  <app-calendar></app-calendar>
</div>

<div class="reservation-history-table" fxFlex fxLayout="column">
  <h2>My desk booking history</h2>
  <div>
    <table>
        <thead>
          <th>Date</th>
          <th>Building</th>
          <th>Floor</th>
          <th>Room</th>
          <th>Desk</th>
          <th>Status</th>
        </thead>
        <tbody>
        <tr *ngFor="let reservation of reservations">
          <td>{{reservation.date}}</td>
          <td>{{reservation.buildingName}}</td>
          <td>{{reservation.floorNumber}}</td>
          <td>{{reservation.roomName}}</td>
          <td>{{reservation.deskName}}</td>
          <td (click)="cancelReservationById(reservation)">{{reservation.reservationStatus}}</td>
        </tr>
        </tbody>
      </table>
    </div>
</div>
