<div *ngIf="displaySuccessMessage; then message else form"></div>

<ng-template #message>
  <div class="container">
    <p>user added successfully</p>
    <p>user id: {{userRequest!.userId}}</p>
    <p>password: {{userRequest!.password}}</p>
    <button (click)="editUserForm.reset(); addNewUser.emit(); expActive?.setValue(true)">add new user</button>
  </div>
</ng-template>

<ng-template #form>
<form [formGroup]="editUserForm">
  <label for="userid">User Id</label>
  <input id="userid" [readOnly]="isEditForm" formControlName="userId">
  <div [hidden]="expUserId?.valid || expUserId?.pristine">
    <div *ngIf="expUserId?.errors?.['required']">
      <p>id field is required</p>
    </div>
    <div *ngIf="expUserId?.errors?.['minlength'] || expUserId?.errors?.['maxlength']">
      <p>id must be 8 characters</p>
    </div>
    <div *ngIf="expUserId?.errors?.['idAlreadyExists']">
      id already exists
    </div>
  </div>
  <label for="firstName">First Name</label>
  <input id="firstName" type="text" formControlName="firstName">
  <div [hidden]="expFirstName?.valid || expFirstName?.pristine">
    <div *ngIf="expFirstName?.errors?.['required']">
      <p>first name is required</p>
    </div>
    <div *ngIf="expFirstName?.errors?.['maxlength']">
      <p>cannot be longer then 40 characters</p>
    </div>
  </div>
  <label for="lastName">Last Name</label>
  <input id="lastName" type="text" formControlName="lastName">
  <div [hidden]="expLastName?.valid || expLastName?.pristine">
    <div *ngIf="expLastName?.errors?.['required']">
      <p>last name is required</p>
    </div>
    <div *ngIf="expLastName?.errors?.['maxlength']">
      <p>cannot be longer then 40 characters</p>
    </div>
  </div>
  <label for="middleName">Middle Name</label>
  <input id="middleName" type="text" formControlName="middleName">
  <div [hidden]="expMiddleName?.valid || expMiddleName?.pristine">
    <div *ngIf="expMiddleName?.errors?.['required']">
      <p>middle name is required</p>
    </div>
    <div *ngIf="expMiddleName?.errors?.['maxlength']">
      <p>cannot be longer then 40 characters</p>
    </div>
  </div>
  <label for="email">Email</label>
  <input id="email" type="text" formControlName="email">
  <div [hidden]="expEmail?.valid || expEmail?.pristine">
    <div *ngIf="expEmail?.errors?.['required']">
      <p>email is required</p>
    </div>
    <div *ngIf="expEmail?.errors?.['validateEmail']">
      <p>email must end with @corporate.com</p>
    </div>
  </div>
  <label for="role">Role</label>
  <select id="role" formControlName="role">
    <option value="STANDARD_USER" [selected]="expRole?.value == 'STANDARD_USER' ">STANDARD_USER</option>
    <option value="ADMINISTRATOR" [selected]="expRole?.value == 'ADMINISTRATOR' ">ADMINISTRATOR</option>
  </select>
  <div *ngIf="passwordChanged">
    <p>password: {{password}}</p>
  </div>

  <label for="active">active</label>
  <input id="active" type="checkbox" formControlName="active">
  <div [hidden]="!isEditForm">
    <button (click)="resetPassword()">generate new password</button>
  </div>

  <button (click)="AddOrUpdateUser()" [disabled]="!editUserForm.valid">save</button>
  <button (click)="cancel.emit()">cancel</button>
</form>
</ng-template>
