<div class="container">
<form [formGroup]="changePasswordForm">
    <mat-form-field>
      <mat-label>Current password</mat-label>
      <input type="password" id="currentPassword" matInput formControlName="currentPassword">
      <mat-error *ngIf="getCurrentPassword?.errors?.['required']">
        current password field is required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>New password</mat-label>
      <input type="password" id="newPassword" matInput formControlName="newPassword">
      <mat-error *ngIf="getNewPassword?.errors?.['required']">
        new password field is required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Repeat new password</mat-label>
      <input type="password" id="newPasswordRepeat" matInput formControlName="newPasswordRepeat">
      <mat-error *ngIf="getNewPasswordRepeat?.errors?.['required']">
        current password repeat field is required
      </mat-error>
    </mat-form-field>
  <div *ngIf="errorMessage">
    <mat-error>
      {{errorMessage}}
    </mat-error>
  </div>

   <button class="cancel-button" (click)="closeDialog()" mat-button>Cancel</button>
   <button class="save-button" (click)="changePasswordRequest()" mat-button>Change password</button>
  </form>

  </div>

