 <form [formGroup]="changePasswordForm">
    <mat-form-field>
      <mat-label>Current password</mat-label>
      <input id="currentPassword" matInput formControlName="currentPassword">
      <mat-error *ngIf="getCurrentPassword?.errors?.['required']">
        current password field is required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>new password</mat-label>
      <input id="newPassword" matInput formControlName="newPassword">
      <mat-error *ngIf="getNewPassword?.errors?.['required']">
        new password field is required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>new password repeat</mat-label>
      <input id="newPasswordRepeat" matInput formControlName="newPasswordRepeat">
      <mat-error *ngIf="getNewPasswordRepeat?.errors?.['required']">
        current password repeat field is required
      </mat-error>
    </mat-form-field>

   <button (click)="changePasswordRequest()" mat-button>change password</button>
   <button (click)="cancel.emit()" mat-button>cancel</button>

  </form>

