.message-viewport {
  padding: 10px;
  height: 300px;
  width: 600px;
  border: 1px solid #008CBA;
  border-radius: 5px;
  margin: 80px;
}

.pad{
  padding: 10px;
}
.message-item {
  height: auto;
  flex-wrap: wrap;
  border-bottom: 1px solid #008CBA;
  p {
    width: 90%;
  }
}

h3 {
  padding: 5px;
  border-bottom: 1px solid #008CBA;
}

mat-icon {
  float: right;
  position: relative;
  bottom: 25px;
}

mat-icon:hover {
  cursor: pointer;
}
