<h2>Add new building</h2>

<div class="container">
  <form [formGroup]="buildingRequestForm">
  <mat-form-field>
    <mat-label>Building Name</mat-label>
    <input id="name" matInput formControlName="name">
    <mat-error *ngIf="getName?.errors?.['required']">
      Building name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>City</mat-label>
    <input id="city" matInput formControlName="city">
    <mat-error *ngIf="getCity?.errors?.['required']">
      City is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Street name</mat-label>
    <input id="streetName" matInput formControlName="streetName">
    <mat-error *ngIf="getStreetName?.errors?.['required']">
      Street name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Building number</mat-label>
    <input id="buildingNumber" matInput formControlName="buildingNumber" type="number">
    <mat-error *ngIf="getBuildingNumber?.errors?.['required']">
      Building number is required
    </mat-error>
  </mat-form-field>

  <button class="select-button" (click)="addNewBuilding()" mat-button [disabled]="!buildingRequestForm.valid">Add building</button>
  <button class="cancel-button" (click)="closeForm()" mat-button>Cancel</button>

</form>
</div>
