.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
}

.login-full-width {
  width: 100%;
}
.login-buttons {
  margin: 10px;
}
