<div class="container">
  <form class="login-form" [formGroup]="loginFormGroup">
    <h1>Welcome to Desk Booking Application!</h1>
    <mat-form-field class="login-full-width" appearance="fill">
      <mat-label>User ID</mat-label>
      <input formControlName="userId" matInput placeholder="Ex. 12345" value="">
      <mat-error *ngIf="getUserId?.hasError('required')">
        Please enter your user name
      </mat-error>
    </mat-form-field>

    <mat-form-field class="login-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-error *ngIf="getPassword?.hasError('required')">
        Please enter your password
      </mat-error>
    </mat-form-field>
    <button class="login-buttons" mat-raised-button (click)="login()">Login</button>
    <button class="login-buttons" mat-raised-button (click)="resetForm()">Cancel</button>
  </form>
  <p>In case you faced login issues, please contact <a href="app.support@corporate.com">app.support@corporate.com</a>
  </p>
</div>
