
<div class="dialog">
  <div *ngIf="message=='reservationExists'; then reservationExists"></div>
<div *ngIf="message=='successful'; then successful"></div>
<div *ngIf="message=='noDesks'; then noDesks"></div>

<ng-template #reservationExists>
  <div class="container" mat-dialog-content >

    <p>You already have a reservation on this date.</p>
    <p>Would you like to cancel this reservation:</p>
    <p><b>Date: </b> {{currentReservation?.date}}</p>
    <p><b>Building: </b> {{currentReservation?.buildingName}}</p>
    <p><b>Floor: </b> {{currentReservation?.floorName}}</p>
    <p><b>Room: </b> {{currentReservation?.roomName}}</p>
    <p><b>Desk:</b> {{currentReservation?.deskName}}</p>
    <button mat-button (click)="keepReservationButtonClickEvent()">Keep reservation</button>
    <button class="cancel-button" mat-button (click)="inputIdToCancelButton(currentReservation!.reservationId)">Cancel reservation</button>

  </div>
</ng-template>


<ng-template #successful>
  <div mat-dialog-content class="container" >

    <p><b>Reservation is successful!</b></p>
    <p><b>Date:</b> {{currentReservation?.date}}</p>
    <p><b>Building:</b> {{currentReservation?.buildingName}}</p>
    <p><b>Floor: </b> {{currentReservation?.floorName}}</p>
    <p><b>Room: </b> {{currentReservation?.roomName}}</p>
    <p><b>Desk:</b> {{currentReservation?.deskName}}</p>

    <button mat-button (click)="dialogRef.close()">OKAY</button>
  </div>
</ng-template>

<ng-template #noDesks>
  <div mat-dialog-content class="container">
    <p>No desks are available.</p>
    <button mat-button (click)="okClicked.emit()">OKAY</button>
  </div>
</ng-template>


</div>
