

<div *ngIf="display === Entities.BUILDINGS; then displayBuildings"></div>
<div *ngIf="display === Entities.FLOORS; then displayFloors"></div>
<div *ngIf="display === Entities.ROOMS; then displayRooms"></div>


<ng-template #displayBuildings>
  <div *ngFor="let building of buildings!" fxLayout="row"
       [ngSwitch]="( building === selectedBuilding )">
    <app-click-to-edit
      *ngSwitchCase="true"
      [value]="building.buildingName!"
      (valueChangeEvents)="changeBuildingName($event)"
      (cancelEvents)="selectedBuilding=null"
    ></app-click-to-edit>

    <div *ngSwitchCase="false" (click)="selectedBuilding = building">
      {{ building.buildingName! }}
    </div>
    <button (click)="selectBuilding(building)">select building</button>
    <button >delete building</button>
  </div>
  <button mat-button (click)="addNewBuilding()">add building</button>
</ng-template>

<ng-template #displayFloors>
  <h1>Building Name {{selectedBuilding!.buildingName!}}</h1>
  <button (click)="display = Entities.BUILDINGS">Change Building</button>
  <div *ngFor="let floor of floors!" fxLayout="row"
       [ngSwitch]="( floor === selectedFloor )">
    <app-click-to-edit
      *ngSwitchCase="true"
      [value]="floor.floorName!"
      (valueChangeEvents)="changeBuildingName($event)"
      (cancelEvents)="selectedBuilding=null"
    ></app-click-to-edit>

    <div *ngSwitchCase="false" (click)="selectedFloor = floor">
      {{ floor.floorName! }}
    </div>
    <button (click)="selectFloor(floor)">select floor</button>
    <button (click)="deleteFloor(floor)" >delete floor</button>
  </div>
  <button mat-button (click)="addNewFloor()">add floor</button>
</ng-template>

<ng-template #displayRooms>
  <h1>Building Name {{selectedBuilding!.buildingName!}}</h1>
  <button (click)="display = Entities.BUILDINGS">Change Building</button>
  <h1>Floor Number {{selectedFloor!.floorName!}}</h1>
  <button (click)="display = Entities.FLOORS">Change Floor</button>
  <div *ngFor="let room of listOfRooms"
       [ngSwitch]="( room === selectedRoom )">
    <app-click-to-edit
      *ngSwitchCase="true"
      [value]="room.roomName"
      (valueChangeEvents)="changeRoomName($event)"
      (cancelEvents)="selectedRoom=null"
    ></app-click-to-edit>

    <div *ngSwitchCase="false" (click)="selectedRoom = room">
      {{ room.roomName }}
    </div>

    <button mat-button (click)="deleteRoom(room.roomId)">delete room</button>
    <div *ngFor="let desk of room.desks" fxLayout="row"
         [ngSwitch]="( desk === selectedDesk )">
      <app-click-to-edit
        *ngSwitchCase="true"
        [value]="desk.deskName"
        (valueChangeEvents)="changeDeskName($event)"
        (cancelEvents)="selectedDesk=null"
      ></app-click-to-edit>

      <div *ngSwitchCase="false" (click)="selectedDesk = desk">
        {{ desk.deskName }}
      </div>

      <button mat-button (click)="deleteDesk(desk.id)">delete desk</button>
    </div>
    <button mat-button (click)="addTable(room.roomId)">Add desk</button>
  </div>
  <button mat-button (click)="addRoom()">Add room</button>
</ng-template>




