.ACTIVE {
  color: blue;
  text-decoration: underline;
}

.save-button, .cancel-button {
  background-color: #008cba;
  color: white !important;
  font-size: smaller;
  border-radius: 5px;
  border: 1px solid #9999994b;
  box-shadow: 0 4px 10px -6px #222;
  text-align: right;
  float:right;
  margin: 10px;
}

.cancel-button:hover, .save-button:hover {
  border: 3px solid #1080a5b8;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.save-button:active, .cancel-button:active {
  transform: translateY(3px);
}

.input-button {
    margin: 10px 30px 10px 10px;

}

.container {
  border: 1px solid #008cba;
  border-radius: 5px;
  padding: 20px;
}
